:root[data-theme="light"] {
  --text: #1c1712;
  --background: #fbfaf9;
  --primary: #524333;
  --secondary: #97a6be;
  --accent: #785a8c;
}

:root[data-theme="dark"] {
  --text: #ede8e3;
  --background: #060504;
  --primary: #ccbdad;
  --secondary: #415068;
  --accent: #9173a5;
}

html {
  color: var(--text);
  background-color: var(--background);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--text)
}



/* From Uiverse.io by cssbuttons-io */
button {
  --color: var(--primary);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: var(--secondary);
  transition: background 0s;
}